snippet model "Setup a new model with comments"
class ${1:ModelName} < ApplicationRecord

  # ---------------------------------------------------------------------------------------------------
  # Assocations
  # ---------------------------------------------------------------------------------------------------

  # ---------------------------------------------------------------------------------------------------
  # Validations
  # ---------------------------------------------------------------------------------------------------

  # ---------------------------------------------------------------------------------------------------
  # Callbacks
  # ---------------------------------------------------------------------------------------------------

  # ---------------------------------------------------------------------------------------------------
  # Methods
  # ---------------------------------------------------------------------------------------------------

  # ---------------------------------------------------------------------------------------------------
  # Class Methods
  # ---------------------------------------------------------------------------------------------------

  # ---------------------------------------------------------------------------------------------------
  # Private Methods
  # ---------------------------------------------------------------------------------------------------

	private

end
endsnippet
