snippet model "Setup the inside of a new model"
# --------------------------------------------------------------------------------------------------
# Assocations
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Attributes
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Validations
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Callbacks
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Methods
# --------------------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------------------
# Class Methods
# --------------------------------------------------------------------------------------------------

  def self.allowed_params
    [
			$0
    ]
  end

# --------------------------------------------------------------------------------------------------
# Private Methods
# --------------------------------------------------------------------------------------------------

private

endsnippet

snippet ## "#-----"
# --------------------------------------------------------------------------------------------------
# $0
# --------------------------------------------------------------------------------------------------
endsnippet
