.netrwhist
dotfiles.sublime-project
dotfiles.sublime-workspace
sublime-settings.sublime-workspace

# git stuff
dotfiles/config/git/gitk
/dotfiles/config/configstore/*

# nvim stuff
tags
.vim_session
/dotfiles/local/share/nvim/shada/
/dotfiles/local/share/nvim/swap/
/dotfiles/local/share/nvim/log

# fish stuff
/dotfiles/local/share/fish/*
/dotfiles/config/fish/fishd*

# heroku stuff
/dotfiles/local/share/heroku/*
