[submodule "dotfiles/local/share/nvim/site/pack/thornomad/start/vim-fugitive"]
	path = dotfiles/local/share/nvim/site/pack/thornomad/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/local/share/nvim/site/pack/thornomad/start/gruvbox"]
	path = dotfiles/local/share/nvim/site/pack/thornomad/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotfiles/local/share/nvim/site/pack/thornomad/start/fzf.vim"]
	path = dotfiles/local/share/nvim/site/pack/thornomad/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
