.netrwhist
dotfiles.sublime-project
dotfiles.sublime-workspace
sublime-settings.sublime-workspace

# nvim stuff
/dotfiles/local/share/nvim/shada/
/dotfiles/local/share/nvim/swap/

# fish stuff
/dotfiles/local/share/fish/*
/dotfiles/config/fish/fishd*

# heroku stuff
/dotfiles/local/share/heroku/*
